.app__shop {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 120px;
  background: #f2f2f2;
  flex-direction: column;
  align-items: center;
}

.app__shop-container {
  padding: 30px 20px;
  justify-content: center;
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.app__shop ul {
  list-style: none;
  display: flex;
  margin-top: 40px;
  margin-bottom: 130px;
  gap: 20px;
  align-items: center;
}

.app__shop ul li {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  padding: 3px 7px;
  border-radius: 50%;

  width: 21px;
  height: 21px;
}

.app__shop ul li:hover {
  color: #1e1e1e;
  background: rgba(0, 0, 0, 0.1);
}

.special-item {
  border-radius: 100px !important;
  color: #1e1e1e !important;
  width: auto !important;
}

@media (max-width: 810px) {
  .app__shop-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .app__shop-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
