.app__shop {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  background: #f2f2f2;
  flex-direction: column;
  align-items: center;
}

.app__shop-container {
  padding: 50px 20px;
  justify-content: center;
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


@media (max-width: 810px) {
  .app__shop-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .app__shop-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
