.app__mc {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.app__mc-content {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 120px;
  text-transform: uppercase;
}

.app__mc-content h1 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 52px;
  line-height: 75px;
  color: #ffffff;
  margin-bottom: 10px;
}

.app__mc-content h3 {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 30px;
}

.app__mc-content_buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  
}

.app__mc-content_buttons button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 28px;
  cursor: pointer;
  border: 1px solid #ffffff;

  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;

  transition: 0.5s ease;
}

.app__mc-content_buttons button:hover {
  transition: 0.5s ease;
  background: #ffffff;

  color: black;
}

/* ANIMATION */
.app__mc-title,
.app__mc-subtitle,
.app__mc-content_buttons {
  opacity: 0;
  transform: translateY(50%);
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-name: slideFromBottom;
}

.app__mc-title {
  animation-name: slideFromBottom;
  animation-delay: 0.2s;
}

.app__mc-subtitle {
  animation-name: slideFromBottom;
  animation-delay: 0.5s;
}

.app__mc-content_buttons {
  animation-name: slideFromBottom;
  animation-delay: 0.8s;
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.zeroOp {
  opacity: 0;
}

/* ------------------------------------- */

@media screen and (max-width: 1140px) {
  .app__mc-content {
    padding-right: 25px;
  }
  .app__mc-content h1 {
    font-size: 44px;
    line-height: 67px;
    margin-left: 25px;
    text-align: end;
  }
  .app__mc-content h3 {
    font-size: 24px;
    line-height: 36px;
    text-align: end;
  }
  .app__mc-content_buttons button {
    font-size: 12px;
    line-height: 17px;
  }
}

@media screen and (max-width: 768px) {
  .app__mc-content_buttons {
    flex-direction: column;
    gap: 15px;
  }
}
