.app__contact {
  display: flex;
  flex-direction: column;
}

.app__contact-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/ContactBg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  max-height: 100vh;
  height: 100%;
}

.app__contact-image_container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.app__contact-image_container h1 {
  font-family: verdana, geneva, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.app__contact-image_container h3 {
  font-family: verdana, geneva, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 30px;
}

.app__contact-image_downArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 17px;
  transition: 0.5s ease;
  margin-bottom: 25px;
}

.app__contact-image_downArrow img {
  width: 16px;
  height: 16px;
}

.app__contact-image_downArrow:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: 0.5s ease;
}

/* FAQ */

.app__contact-faq {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.app__contact-faq h1 {
  font-family: verdana, geneva, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-top: 120px;
}

.app__contact-faq img {
  width: 25px;
  height: 4px;
  justify-self: center;
  align-self: center;
  margin-top: 70px;
}

.app__contact-faq_list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width: 1070px;
  width: 100%;
}

.app__contact-faq_list-item {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #fdfdfd;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #ececec;

  cursor: pointer;

  transition: 0.3s ease;
}

.app__contact-faq_list-item:last-child {
  border-width: 1px 1px 1px 1px;
}

.app__contact-faq_list-item:hover {
  background: #f3f3f3;
  transition: 0.3s ease;
}

.app__contact-faq_list-item:hover img {
  filter: brightness(50%);
  transition: filter 0.3s;
}

.app__contact-faq_list-item img {
  margin: 0;
}

.app__contact-faq_list-item_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.app__contact-faq_list-item_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
}

.app__contact-faq_list-item_left p {
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  color: #222222;
}

.app__contact-faq_list-item_left img {
  margin: 0;
}

.app__contact-faq_answer {
  padding: 20px;
  background: #ffffff;
}

.app__contact-faq_answer p {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #666666;
}

/* FORM */
.app__contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.app__contact-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1070px;
}

.app__contact-form form small {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: red;
  margin-bottom: 15px;
}

.app__contact-form form p {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #666666;
}

.app__contact-form form input[type="text"],
.app__contact-form form input[type="email"] {
  all: unset;
  background: #fdfdfd;
  border: 1px solid #e3e3e3;
  max-width: 354px;

  margin-bottom: 15px;

  padding: 10px 12px;

  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}

.app__contact-form form textarea {
  all: unset;
  background: #fdfdfd;
  border: 1px solid #e3e3e3;

  max-width: 547px;

  height: 192px;
  padding: 10px 12px;

  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  margin-bottom: 15px;
}

.app__contact-form form button {
  all: unset;

  background: #252525;
  width: 100%;
  max-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 16px;

  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.5s ease;
  cursor: pointer;
}

.app__contact-form form button:hover {
  background: #666666;
  transition: 0.5s ease;
}

/* @media screen and (max-width: 768px) {
  .app__contact-image {
    padding-top: 300px;
  }
} */

@media screen and (max-width: 460px) {
  /* .app__contact-image {
    padding-top: 260px;
  } */
  .app__contact-image_container h1 {
    font-size: 40px;
    line-height: 70px;
  }

  .app__contact-image_container h3 {
    font-size: 22px;
    line-height: 37px;
  }
}
