.app__navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  transition: 0.5s ease;

  position: absolute;

  z-index: 10;
}

.app__navbar-container {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app__navbar-logo {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo h1 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.app__navbar-logo h1:nth-of-type(3) {
  color: #e41929;
}

.app__navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__navbar-links_list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  gap: 50px;
}

.app__navbar-links_item {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;

  position: relative;
}

.app__navbar-links_item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.2s ease-in-out;
}

.app__navbar-links_item:hover::before {
  width: 100%;
}

.app__navbar-links_item.active::before {
  width: 100%;
}

/* CHANGE COLOR WHEN useLocation */
.app__navbar.alt {
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.app__navbar-links.alt .app__navbar-links_item {
  color: #000000;
}

.app__navbar-links.alt .app__navbar-links_item::before {
  background-color: #e41929;
}

.app__navbar.alt .app__navbar-logo h1 {
  color: #000000;
}

.app__navbar.alt h1:nth-of-type(3) {
  color: #e41929;
}

/* SMALLSCREEN */

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen svg {
  cursor: pointer;
  margin-right: 25px;
}

@media screen and (max-width: 1140px) {
  .app__navbar {
    background: #ffffff;
    transition: 0.5s ease;
  }
  .app__navbar-links {
    display: none;
  }
  .app__navbar-logo {
    margin-left: 25px;
  }

  .app__navbar-logo h1 {
    color: #000000;
  }

  .app__navbar-logo h1:nth-of-type(3) {
    color: red;
  }
  .app__navbar-smallscreen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .app__navbar-smallscreen_links {
    /* position changed from FIXED to ABSOLUTE */
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
  }
  .app__navbar-smallscreen_links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .app__navbar-smallscreen_links ul li {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  .app__navbar-smallscreen_links-item {
    font-family: var(--font-sans);
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    text-transform: uppercase;
    color: #444444;
  }
}
